html {
    box-sizing: border-box;
}

input {
    /* @Cleanup */
    /*position: absolute;*/
    /*top: 50vh;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
}

.virtual-keyboard-fix {
    top: 0 !important;
    opacity: 0 !important;
}

div:has(> input) {
    /* @Cleanup */
    /* Styles for div elements that are direct parents of inputs */
    /*bottom: unset !important;*/
    /*top: 0 !important;*/
    /*opacity: 0;*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
}


.sign-in-with-telegram-container {
    position: absolute;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-in-with-telegram-container>input {
    height: 35px;
}

.sign-in-with-telegram-container>button {
    height: 35px;
}

.text-under-sign-in {
    position: absolute;
    bottom: 55px;
    font-size: 18pt;
    color: white;
    /* text-shadow: 2px 2px 2px black; */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

#unity-container {}

#unity-canvas {
    background: #231F20;
}

#loading-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-image: url(../bg.png);
    background-size: cover;
    background-position: bottom;
}

#unity-loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#unity-logo {
    text-align: center;
    transform-style: preserve-3d;
}

#unity-progress-bar-empty {
    height: 26px;
    margin: 10px;
    text-align: left;
    border: 1px solid white;
    padding: 3px;
    border-radius: 100px;
    background-color: white;
}

#progress-bar {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #071A21;
    border-radius: 20px 20px 0 0;
}

#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background-image: url(../bar.png);
    background-size: contain;
}

#progress-bar-full-container {
    overflow: hidden;
    height: 100%;
    border-radius: 100px;
}

.light #unity-progress-bar-empty {
    border-color: black;
}

.light #unity-progress-bar-full {
    background: black;
}

#unity-fullscreen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: contain;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.spinner {
    margin: 10px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    transform: translateZ(0);
    animation: spinner-spin 1.1s infinite linear;
}

.logo {
    position: absolute;
}

.logo img {
    width: 222px;
}

@keyframes spinner-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
